h1{
	font-family: Arial,sans-serif
}

h2{
	font-family: Arial,sans-serif
}

#tocontainer{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
    text-align: center;
}

#wrapper {
  display: table;
  width: 100%;
  min-width: 1000px;
  min-height: 400px;
}
#column0 {
  display: table-cell;
  width: 50%;
}
#column1 {
  display: table-cell;
	width: 50%;
}

.videoContainer{
	position:relative;
}

.myButton {
  background: #f03f33;
  background-image: -webkit-linear-gradient(top, #f03f33, #e3a19d);
  background-image: -moz-linear-gradient(top, #f03f33, #e3a19d);
  background-image: -ms-linear-gradient(top, #f03f33, #e3a19d);
  background-image: -o-linear-gradient(top, #f03f33, #e3a19d);
  background-image: linear-gradient(to bottom, #f03f33, #e3a19d);
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;

}

.myButton:hover {
  background: #e3a19d;
  background-image: -webkit-linear-gradient(top, #e3a19d, #f03f33);
  background-image: -moz-linear-gradient(top, #e3a19d, #f03f33);
  background-image: -ms-linear-gradient(top, #e3a19d, #f03f33);
  background-image: -o-linear-gradient(top, #e3a19d, #f03f33);
  background-image: linear-gradient(to bottom, #e3a19d, #f03f33);
  text-decoration: none;
}

.addButton{
	position:fixed;; top: 200px; left: 0;
	 z-index: 999999;
	 font-size: 40px;
	 padding: 40px 10px 40px 10px;
}

.randomize {
	position:relative;
	top:-310px;
	left:-210px;
}

.close {
	padding: 5px 5px 5px 5px;
	position:relative;
	top:-310px;
	left:210px;
}
